 @forward "header/header";
@forward "hero/hero";
@forward "food-options/food-options";
@forward "offers/offers";
@forward "restaurants/restaurants";
@forward "slogan/slogan";
@forward "app-order/app-order";
@forward "testimonials/testimonials";
@forward "counters/counters";
@forward "blog/blog";
@forward "footer/footer";
